$color-main:  #1b2127;
$color-secundary: #d0e8f2;;
$color-aux: #056fff;
$color-black: black;
$color-white: #ffffff;
$description-card-size: 18px;
$font-primary: 'Nunito', sans-serif;
$font-secundary: 'Roboto', sans-serif;