@import  '@styles/Globals.scss';
@import  '@styles/_vars.scss';
@import '@styles/MediaQuery.scss';

.header__container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 767px){
        display: flex;
        flex-direction: column-reverse;
    }
}

header {
    width: 100vw;
    background-color: #1b2127;
    color: white;
    font-size: 25px;
    border: 2px solid  #1b2127;
    height: min-content;
    border-radius: 0px;
    margin: 0px;
    padding: 5px 0px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* position: fixed;  */
}

.logo {
    width: min-content;
    size: auto;
    margin: 0 auto;
}

.logo-image{
    /*border color: */
    /*border-style: solid*/
    width: 50px;
    height: 50px;
    /* border: 2px #1b2127 solid; */
    border: 2px white solid;
    border-radius: 130px;
    padding: 2px;
    @media screen and (max-width: 767px){
        width: 30px;
        height: 30px;
    }
}

.logo-image:hover{
    transform: scale(1.1);
}

.header__search input {
    width: 200px;
    height: 30px;
    padding: 0px 20px;
    border: none;
    border-radius: 100px;
    outline: none;
    @media screen and (max-width: 767px){
        height: 25px;
    }
}

.header__search--button {
    width: 35px;
    height: 35px;
    border: 1px solid #1b2127;
    border-radius: 100%;
    font-size: 14px;
    margin: 0px;
    outline: #1b2127;
}


.pokemon__view {
    padding: 25px;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 767px){
        flex-direction: column-reverse;
    }
}

.pokemon__view--item{
    display: grid;
    grid-template-columns: repeat(3,minmax(100px,1fr));
    gap: 10px 30px;
    width: 60%;
    height: 600px;
    padding: 20px;
    background-color: #d0e8f2;
    text-align: center;
    vertical-align: middle;
    overflow-y: auto;
    @media screen and (max-width: 767px){
        width: 100%;
    }
    @media screen and (max-width: 375px){
        grid-template-columns: repeat(2,minmax(100px,1fr));
    }
}

.pokemon__view--item p {
    width: min-content;
    margin: 0 auto;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    @media screen and (max-width: 767px){
        font-size: 14px;
    }
}

.pokemon__view--item p:hover {
    cursor: pointer;
}

.loading {
    grid-column: 1 / -1;
}
.loading img{
    height: 50px;
    border-radius: 20px;
}

.hero {
    width: 40%;
    height: 100%;
    margin : 0px 35px 25px;
    border-radius: 0px;
    padding: 15px 35px;
    background-color: #d0e8f2;
    color: #1b2127;
    overflow: hidden;
    /* display: grid; */
    /* grid-template-columns: 0.5fr 1fr; */
    /* grid-template-rows: 0.5fr 1fr; */
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    @media screen and (max-width: 767px){
        width: 95%;
        margin: 0px;
        margin-bottom: 20px;
    }
}

.hero-containerDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: middle;
}

.hero-containerDescription--child{
    width: 100%;
    @media screen and (max-width: 767px){
        width: 95%;
        margin: 0px;
        margin-bottom: 20px;
    }
}

.hero-containerImage {
    /* margin: auto 0px; */
    text-align: center;
}


.hero-containerImage img{
    object-fit: cover;
    margin: 0px auto;
    width: 50%;
    height: 50%;
    border:  0px;
    border-radius: 0px;
    padding: 0px;
    @media screen and (max-width: 425px){
        width: 60%;
        height: 60%;
    }
}


.hero-containerImage img:hover{
    cursor: pointer;
    transform: scale(1.1);;
}

.fadeIn {
    animation: 3000ms fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


.like{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 1450px 50px;
}

.like.is-liked {
    animation-name: like;
    animation-duration: 1s;
    animation-timing-function: steps(28);
    /*background-position: -2800p 0;*/
    /*background-position: right;*/
    animation-fill-mode: forwards;
}

@keyframes like {
    0%{
        background-position: 0 0;
    }
    100%{
        /*background-position: -2800px 0;*/
        background-position: right;
    }
}

.heroImg img{
    object-fit: cover;
    margin: auto auto;
    width: 80%;
    height: 100%;
    border:  0px;
    border-radius: 0px;
    padding: 0px;
}